<!DOCTYPE html>
<html lang="en">
  <head><%-include('./inc/head')%></head>
  <body>
    <div class="outer-container">
      <div class="split-container">
        <div class="primary-side">
          <%- body %>
        </div>
        <div class="secondary-side"></div>
      </div>
    </div>
  </body>
</html>