<%- contentFor('titleTag') %>
Message of the Day | Page Not Found
<%- contentFor('body') %>
<div class="dashboard-container">
  <div class="full-center">
    <div class="content">
      <h1>Page Not Found</h1>
      <a href="/" class="btn btn-primary btn-big">Back to Homepage</a>
    </div>
  </div>
</div>