<%- contentFor('titleTag') %>
Message of the Day
<%- contentFor('body') %>
<div class="dashboard-container">
  <nav id="nav">
    <div class="container">
      <button class="btn menu-btn">Message of the Day</button>
      <button type="button" class="js-logout btn menu-btn">Logout</button>
    </div>
  </nav>
  <div class="container full-center">
    <div class="js-message-form message-form form-container">
      <div class="js-form">
        <div class="message-form-box-container">
          <div class="js-message message-form-box div-input readonly" spellcheck="false" contentEditable="false"></div>
        </div>
        <button class="js-button btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>