<%- contentFor('titleTag') %>
Message of the Day
<%- contentFor('body') %>
<div class="js-login-form form-container">
  <div class="messages"></div>
  <form action="/api/users/login" method="post">
    <div class="item-container">
      <input type="text" name="username" placeholder="Username" class="form-item">
    </div>
    <div class="item-container">
      <input type="password" name="password" placeholder="Password" class="form-item">
    </div>
    <div class="item-container buttons-container">
      <button type="submit" class="btn btn-primary form-item">Login</button>
      <a href="/register" class="btn btn-secondary form-item">Register</a>
    </div>
    <div class="item-container">
      <a href="/reset-password" class="form-link">Forgot Password?</a>
    </div>
  </form>
</div>