<%- contentFor('titleTag') %>
Message of the Day
<%- contentFor('body') %>
<div class="js-register-form form-container">
  <div class="messages"></div>
  <!-- <form action="/api/users/register" method="post">
    <div class="item-container">
      <input type="email" name="email" placeholder="Email" class="form-item">
    </div>
    <div class="item-container">
      <input type="text" name="username" placeholder="Username" class="form-item">
    </div>
    <div class="item-container">
      <input type="password" name="password" placeholder="Password" class="form-item">
    </div>
    <div class="item-container">
      <input type="password" name="repeat_password" placeholder="Repeat Password" class="form-item">
    </div>
    <div class="item-container buttons-container">
      <button type="submit" class="btn btn-primary form-item">Register</button>
    </div>
  </form> -->
  <div class="item-container">
    <h1>TODO</h1>
    <p>Haven't forgotten your password? <a href="/">Login</a>.</p>
  </div>
</div>