@import 'vars.css';
@import 'fonts.css';
@import 'normalize.css';

:root {
    font-family: var(--default-fonts);
}

* {
    box-sizing: border-box;
}

.btn, button {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: none;
    outline: none;
    height: 45px;

    text-decoration: none !important;
    padding: 20px;

    background-color: var(--complementary-color);
    color: white !important;
}

.btn-big {
    min-height: 60px;
}

.btn:focus, button:focus {
    border: none;
    outline: none;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
}

.outer-container {
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--bg-color);
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.content {
    background-color: var(--bg-color);
}

.full-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.full-center .content {
    max-width: 700px;
    width: 100%;
    min-height: 200px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.split-container {
    display: flex;
    width: 100%;
}

.split-container .primary-side, .split-container .secondary-side {
    min-height: 100vh;
}

.split-container .primary-side {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;

    background-color: var(--bg-color);

    max-width: 50%
}

.split-container .secondary-side {
    flex: 1 1;
    background-color: var(--secondary-color);
    background-image: url('../images/backgrounds/home-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    max-width: 50%
}

@media only screen and (max-width: 700px) {
    .split-container {
        flex-direction: column;
    }

    .split-container .primary-side, .split-container .secondary-side {
        flex: 0 0;
        max-width: 100%
    }

    .split-container .secondary-side {
        display: none;
    }
}



.dashboard-container {
    display: flex;
    flex-direction: column;

    background-color: var(--dashboard-bg-color);
    background-image: url('../images/backgrounds/home-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.dashboard-container .container {
    flex: 1 0;
}



.central-container.content {
    max-width: 700px;
    width: 100%;
    min-height: 400px;
    height: 100%;

    background-color: var(--bg-color);
}



.form-container {
    max-width: 500px;
    width: 100%;
}

.form-container form, .form-container .js-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .input-container {
    display: flex;
    align-items: center;

    position: relative;
}

.form-container .input-container .input-placeholder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: none;
}

.form-container .input-container .input-placeholder.show {
    display: inherit;
}

.form-container .form-item {
    width: 100%;
    padding: 10px;
}

.form-container input.form-item {
    height: 50px;
    outline: none;
    border: 2px solid rgb(194, 194, 194);
}

.form-container .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container .item-container {
    text-align: center;
}

.form-container a {    
    color: var(--form-link-color);
}



.message-box {
    display: flex;
    justify-content: left;
    align-items: center;

    width: 100%;
    min-height: 70px;
    padding: 20px;

    margin-bottom: 20px;

    background-color: var(--complementary-color);
    color: white;
}

.message-box.success {
    background-color: rgb(0, 31, 0);
}

.message-box.error {
    background-color: rgb(63, 0, 0);
}

.message-box a {
    color: white;
    font-weight: bold;
}



nav#nav {
    background-color: var(--navbar-bg-color);
    height: 80px;
}

nav#nav .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

nav#nav .container button.menu-btn {
    background-color: transparent;
    height: 100%;
}



.message-form {
    max-width: 100%;
    padding: 50px;
}



.message-form .message-form-box {
    width: 100%;
    min-height: 90px;
    max-height: 250px;
    
    background-color: var(--message-focus-bg-color);
    color: black;
    padding: 20px;
    font-size: 40px;
    
    border: none;
    outline: none;

    overflow: hidden;
    word-break: break-word;
}

.message-form .message-form-box.readonly {
    background-color: var(--message-bg-color);
    color: black;
}

.message-form .input-placeholder.readonly {
    color: rgb(29, 29, 29);
}

.message-form button {
    height: 70px;
}